*{
	margin: 0;
	padding: 0;

}
nav{

	width:90%;
	margin-top: 30px;
	margin-left: 90px;
	margin-right:30px;
	background-color: #e21b41;
	height: 41px;
	border-radius: 10px 10px 10px 10px;
}
nav ul{
	 list-style: none;
	 padding-top: 11px;
	 padding-right: 105px;
	 
}
nav ul li{
	display: inline-block;
	padding-left: 10px;

	

}
nav ul li a{
	text-decoration: none;
	color:white;
	font-family: arial,sans-serif;

}
nav #activo{
	background-color:#0d96b3;
	padding: 10.6px;

}
nav #activo:hover{
	                      background-color:rgba(28,206,244,0.2); 
}
nav a:hover{
	                      background-color:#0d96b3;
	padding: 10.6px;
}
section  {
	          margin-top: 9px;
             margin-left: 155px;
           display:none;
}
section input[type="text"]{
	        height: 30px;
	        border-radius: 6px 6px 6px 6px;
	        background-color: silver;
	        width: 30%;
	        font-size: 14px;
	        padding-left: 8px;
	        font-family: arial,sans-serif;
}
section input[type="submit"]{
	        height: 30px;
	        border-radius: 5px 5px 5px 5px;
	        background-color: #0d96b3;e21b41;
	        color:white;
	        border:0.5;
	        padding: 4px;
	        font-size: 16px;
	        font-family: arial,sans-serif;
}
section input[type="submit"]:hover{
	  cursor:hand;
}

 form .formulario{
	 display:block;
}
